<h2 fxLayoutAlign="center">Purchase</h2>

<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center" fxLayoutAlign.gt-sm="center">
    
    <div fxFlex="100%" fxFlex.gt-sm="22%">

        <mat-form-field appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput  readonly value="{{ this.cart.total | currency }}" >
        </mat-form-field>
        
        <br/>

        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput  readonly value=" {{ this.cart.date | date:'dd/MM/yyyy, h:mm a' }}" >
        </mat-form-field>

        <br/>
        
        <a mat-raised-button routerLink="/shop/purchases" >
            Back
        </a>

    </div>
    
    <div fxFlex="100%" fxFlex.gt-sm="78%">
        
        <mat-table [dataSource]="dataSource" matSort>

            <mat-header-row 
                *matHeaderRowDef="colunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colunas;"></mat-row>

            <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.name }}
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.quantity }}
            </mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef>
                    Price
                </mat-header-cell>
                <mat-cell *matCellDef="let item">
                    {{ item.price | currency }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef>
                Total
            </mat-header-cell>
            <mat-cell *matCellDef="let item">
                {{ item.total | currency }}
            </mat-cell>
            </ng-container>

        </mat-table>

        <mat-paginator fxLayoutAlign="center"
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 15, 25]">
        </mat-paginator>
    </div>
</div>